client_service/src/main/java/proxy/ws_banque.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ws_banque">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://127.0.0.1:8080/ws_banque?xsd=1"/>
</xsd:schema>
</types>
<message name="converte">
<part name="parameters" element="tns:converte"/>
</message>
<message name="converteResponse">
<part name="parameters" element="tns:converteResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="listComptes">
<part name="parameters" element="tns:listComptes"/>
</message>
<message name="listComptesResponse">
<part name="parameters" element="tns:listComptesResponse"/>
</message>
<portType name="ws_banque">
<operation name="converte">
<input wsam:Action="http://ws/ws_banque/converteRequest" message="tns:converte"/>
<output wsam:Action="http://ws/ws_banque/converteResponse" message="tns:converteResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws/ws_banque/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws/ws_banque/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="listComptes">
<input wsam:Action="http://ws/ws_banque/listComptesRequest" message="tns:listComptes"/>
<output wsam:Action="http://ws/ws_banque/listComptesResponse" message="tns:listComptesResponse"/>
</operation>
</portType>
<binding name="ws_banquePortBinding" type="tns:ws_banque">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="converte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ws_banque">
<port name="ws_banquePort" binding="tns:ws_banquePortBinding">
<soap:address location="http://127.0.0.1:8080/ws_banque"/>
</port>
</service>
</definitions>